@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
    font-family: "Outfit", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

@theme {
    /* Soft deep violet base for the primary elements */
    --color-primary: #8a4bff; /* Vibrant purple */
    --color-primary-dull: #7232e0; /* Slightly darker */
    /* Define some nice soft pastels for our custom background blobs */
    --color-blob-pink: #fbcfe8;
    --color-blob-purple: #e9d5ff;
    --color-blob-orange: #ffedd5;
}
